/* not very pretty but it works... */

* {
    margin: auto;
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    text-align: center;
}
body {
    /* background-image: url("images/crystal-image.jpeg"); .... couldn't make the image work through relative path.... revisit */
    background-image: url("https://images.vexels.com/media/users/3/78509/raw/f7b469077864a6ab6865eebf044acd22-blue-hexagon-pattern-background.jpg");
}
.header, .instructions, #random-number, #wins-losses, .crystals, #total-score, #score-counter{
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
}
.wrapper{
border: 1px red solid;
margin-top: 5px;
margin-bottom: 5px;
}
.game {
    width: 80%;
    margin: 0 auto;
    border: none;
}
.scoreboard {
    width: 100%;
    display: inline-block;
    
}
#random-number, #wins-losses {
    border: 1px red solid;
    width:49.53%;
    height: 100px;
    float: left;
}
#wins-losses {
margin-left: 5px;
}
#random-number {
    margin-right: 5px;
}
.fa-red {
    color: red;  
}
.fa-blue {
    color: Blue;
}
.fa-yellow {
    color: yellow;
}
.fa-green {
    color: green;
}
.crystals {
    display: flex;
    align-items: center;
    justify-content: center;
}
#total-score, #score-counter {
    border: 1px red solid;
    margin-bottom:5px;
}